.container
  .footer-bottom.border-top.border-color-medium-dark-gray.padding-30px-top
    .row
      .col-md-6.col-sm-6.col-xs-12.text-left.text-small.xs-text-center
        | ActorCV
      .col-md-6.col-sm-6.col-xs-12.text-right.text-small.xs-text-center
        | &copy; 2018