doctype html
head
  meta(charset='utf-8')
  meta(name='theme-color' content='#4DA5F4')
  meta(name='csrf-token', content=_csrf)
  title ActorCV - Create and share your resume easily!
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1')
  meta(name='description', content='ActorCV is awesomeness')
  meta(name='keywords', content='creative, modern, clean')
  link(rel='shortcut icon', href='pofo/images/favicon.ico')
  link(rel='apple-touch-icon', href='pofo/images/apple-touch-icon-57x57.png')
  link(rel='apple-touch-icon', sizes='72x72', href='pofo/images/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='pofo/images/apple-touch-icon-114x114.png')
  link(rel='stylesheet', href='pofo/css/animate.css')
  link(rel='stylesheet', href='pofo/css/bootstrap.min.css')
  link(rel='stylesheet', href='pofo/css/et-line-icons.css')
  link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='pofo/css/themify-icons.css')
  link(rel='stylesheet', href='pofo/css/swiper.min.css')
  link(rel='stylesheet', href='pofo/css/justified-gallery.min.css')
  link(rel='stylesheet', href='pofo/css/magnific-popup.css')
  link(rel='stylesheet', type='text/css', href='pofo/revolution/css/settings.css', media='screen')
  link(rel='stylesheet', type='text/css', href='pofo/revolution/css/layers.css')
  link(rel='stylesheet', type='text/css', href='pofo/revolution/css/navigation.css')
  link(rel='stylesheet', href='pofo/css/bootsnav.css')
  link(rel='stylesheet', href='pofo/css/style.css')
  link(rel='stylesheet', href='pofo/css/responsive.css')
  //if IE
    script(src='pofo/js/html5shiv.js')
header
  include partials/header
section#home.no-padding.wow.fadeIn.no-transition
  include sections/home
//section#successful-resumes(style='background-image: url(pofo/images/filmmakers1.jpg); background-repeat: no-repeat; background-size: 100%;')
  include sections/successful-resumes
section#why-actor-cv.wow.fadeIn.bg-light-gray
  include sections/why-actor-cv
section#pricing.wow.fadeIn.bg-white
  include sections/pricing
section#about(style='background-image: url(pofo/images/filmmakers.jpg); background-repeat: no-repeat; background-size: 100%;')
  include sections/about
footer.footer-classic-dark.bg-extra-dark-gray.padding-five-bottom.xs-padding-30px-bottom
  include partials/footer
a.scroll-top-arrow(href='javascript:void(0);')
  i.ti-arrow-up
script(type='text/javascript', src='pofo/js/jquery.js')
script(type='text/javascript', src='pofo/js/modernizr.js')
script(type='text/javascript', src='pofo/js/bootstrap.min.js')
script(type='text/javascript', src='pofo/js/jquery.easing.1.3.js')
script(type='text/javascript', src='pofo/js/skrollr.min.js')
script(type='text/javascript', src='pofo/js/smooth-scroll.js')
script(type='text/javascript', src='pofo/js/jquery.appear.js')
script(type='text/javascript', src='pofo/js/bootsnav.js')
script(type='text/javascript', src='pofo/js/jquery.nav.js')
script(type='text/javascript', src='pofo/js/wow.min.js')
script(type='text/javascript', src='pofo/js/page-scroll.js')
script(type='text/javascript', src='pofo/js/swiper.min.js')
script(type='text/javascript', src='pofo/js/jquery.count-to.js')
script(type='text/javascript', src='pofo/js/jquery.stellar.js')
script(type='text/javascript', src='pofo/js/jquery.magnific-popup.min.js')
script(type='text/javascript', src='pofo/js/isotope.pkgd.min.js')
script(type='text/javascript', src='pofo/js/imagesloaded.pkgd.min.js')
script(type='text/javascript', src='pofo/js/classie.js')
script(type='text/javascript', src='pofo/js/hamburger-menu.js')
script(type='text/javascript', src='pofo/js/counter.js')
script(type='text/javascript', src='pofo/js/jquery.fitvids.js')
script(type='text/javascript', src='pofo/js/equalize.min.js')
script(type='text/javascript', src='pofo/js/skill.bars.jquery.js')
script(type='text/javascript', src='pofo/js/justified-gallery.min.js')
script(type='text/javascript', src='pofo/js/jquery.easypiechart.min.js')
script(type='text/javascript', src='pofo/js/instafeed.min.js')
script(type='text/javascript', src='pofo/js/retina.min.js')
script(type='text/javascript', src='pofo/revolution/js/jquery.themepunch.tools.min.js')
script(type='text/javascript', src='pofo/revolution/js/source/jquery.themepunch.revolution.js')
// revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading)
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.actions.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.carousel.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.kenburn.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.layeranimation.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.migration.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.navigation.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.parallax.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.slideanims.min.js')
script(type='text/javascript', src='pofo/revolution/js/extensions/revolution.extension.video.min.js')
// setting
script(type='text/javascript', src='pofo/js/main.js')
script(type='text/javascript', src='pofo/js/scripts.js')
