.navbar.navbar-inverse.navbar-fixed-top.opaque-navbar
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navMain')
				span.glyphicon.glyphicon-chevron-right(style='color:white;')
			a.navbar-brand(href='/')
				strong ActorCV
		.collapse.navbar-collapse#navMain
			ul.nav.navbar-nav.pull-right
				li(class=(title === 'Home') ? 'active' : undefined)
					a(href='/') Home
				li(class=(title === 'Why ActorCV') ? 'active' : undefined)
					a(href='/why-actor-cv') Why ActorCV
				li(class=(title === 'Pricing') ? 'active' : undefined)
					a(href='/pricing') Pricing
				li(class=(title === 'About') ? 'active' : undefined)
					a(href='/about') About