.navbar.navbar-inverse.navbar-fixed-top.opaque-navbar
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navMain')
				span.glyphicon.glyphicon-chevron-right(style='color:white;')
			a.navbar-brand(href='/')
				strong ActorCV
		//.collapse.navbar-collapse#navMain
			ul.nav.navbar-nav.pull-right
				li.active
					a(href='/') Home
				li
					a(href='/demo') Demo
				li
					a(href='/pricing') Pricing
				li
					a(href='/about') About