h3 ...or login with:
//.social-login-buttons
  a.btn.btn-link-1.btn-link-1-facebook(href='#')
    i.fa.fa-facebook
    | Facebook
  a.btn.btn-link-1.btn-link-1-instagram(href='#')
    i.fa.fa-instagram
    | Instagram
  a.btn.btn-link-1.btn-link-1-twitter(href='#')
    i.fa.fa-twitter
    | Tweeter
.social-login-buttons
  span.btn.btn-link-1.btn-link-1-inactive
    i.fa.fa-facebook
    | Facebook
  span.btn.btn-link-1.btn-link-1-inactive
    i.fa.fa-instagram
    | Instagram
  span.btn.btn-link-1.btn-link-1-inactive
    i.fa.fa-twitter
    | Tweeter