extends layout

block content
  .row
    .col-sm-2
    .col-sm-8
      .form-box
        .form-top
          .form-top-left
            h3 Forgot password?
            p Enter email and receive password reset instructions:
          .form-top-right
            i.fa.fa-lock
        .form-bottom
          form.login-form(role='form', action='/forgot', method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.sr-only(for='email') Email
              input.email.form-control#email(type='text', name='email', placeholder='Email...')
            button.btn(type='submit') Send Instructions!
      .social-login
        include partials/social-login
    .col-sm-2
    