extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2.text
      .description
        p
          strong Welcome to ActorCV
          br
          | We have sent an email to 'emailAddress', check your email to activate your account! Add some text on here. Adding more text probably makes it look nicer. How about another line of text?