extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2.text
      .description
        p
          strong Create your professional website!
          br
          | ActorCV provides an easy and professional website for you as an actor.
  .row
    .col-sm-5
      | Bla bla
    .col-sm-1.middle-border
    .col-sm-1
    .col-sm-5
      .imac
