extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2.text
      .description
        p
          strong Create your professional website!
          br
          | ActorCV provides an easy and professional website for you as an actor.
  .row
    .col-sm-5
      //.container
      .row.services
        .col-sm-2
          i.fa.fa-smile-o.fa-5x.text(aria-hidden='true')
        .col-sm-10
          p.text.left.service
            strong Simple, fast and reliable
            br
            Setting up your page is super simple and takes just a couple of minutes. Yes – even you can do it!
      .row
        .col-sm-2
          i.fa.fa-heart-o.fa-5x.text(aria-hidden='true')
        .col-sm-10
          p.text.left.service
            strong Casters love it!
            br
            | We’ve developed the product based on first hand collaboration with casting directors.
      .row
        .col-sm-2
          i.fa.fa-share-alt.fa-5x.text(aria-hidden='true')
        .col-sm-10
          p.text.left.service
            strong Share with ease.
            br
            | Stop sending heavy pdf files and showreel links to casters. Create your own website and simply send them your link. Be professional!

    .col-sm-1.middle-border
    .col-sm-1
    .col-sm-5
      .scroller.imac
        img(src='landing/img/imac.png', alt='imac')
        .trapezoid

