.container
  h3.text-left.text-uppercase contact
  .row
    .col-sm-12.col-md-6.col-lg-4.my-5
      .card.border-0
        .card-body.text-center
          i.fa.fa-phone.fa-5x.mb-3(aria-hidden='true')
          h4.text-uppercase.mb-5 call
          p +8801683615582
    .col-sm-12.col-md-6.col-lg-4.my-5
      .card.border-0
        .card-body.text-center
          i.fa.fa-globe.fa-5x.mb-3(aria-hidden='true')
          h4.text-uppercase.mb-5 email
          p al.a.noman1416@gmail.com
    .col-sm-12.col-md-6.col-lg-4.my-5
      .card.border-0
        .card-body.text-center
          i.fa.fa-map-marker.fa-5x.mb-3(aria-hidden='true')
          h4.text-uppercase.mb-5 loaction
          address Stockholm, Sweden 
    
