.container.resumeWrapper
  .row
    .col-md-2
      .text.nino-fsr &nbsp;
    .col-md-3
      .title Title
    .col-md-2
      .title Type
    .col-md-2
      .title Director
    .col-md-3
      .title Production Company
  .row
    .col-md-2
      .text.nino-fsr 2017
    .col-md-3
      .title The Greatest Film
    .col-md-2
      .title Feature
    .col-md-2
      .title Francis Mann
    .col-md-3
      .title Cool Prod
  .row
    .col-md-2
      .text.nino-fsr 2016
    .col-md-3
      .title A bit of a mistake to be honest
    .col-md-2
      .title Short
    .col-md-2
      .title Some Guy
    .col-md-3
      .title Wow films
  .row
    .col-md-2
      .text.nino-fsr 2015
    .col-md-3
      .title The Big Comeback
    .col-md-2
      .title Music
    .col-md-2
      .title Emelia Lady
    .col-md-3
      .title Freelance Production Company
  .row
    .col-md-2
      .text.nino-fsr 2014
    .col-md-3
      .title My Last Goodbye
    .col-md-2
      .title Documentary
    .col-md-2
      .title Jenn Winter
    .col-md-3
      .title The Others Inc.
  .row
    .col-md-2
      .text.nino-fsr 2013
    .col-md-3
      .title The Good, the bad and the ugly
    .col-md-2
      .title Feature
    .col-md-2
      .title Guy Ritchie
    .col-md-3
      .title Production Company