div.container
  .row
    .col-span
      .video-responsive
        iframe(width='320', height='200', src='//www.youtube.com/embed/pocEg6a6ZpM', frameborder='0', allowfullscreen='')
    .col-span
      .video-responsive
        iframe(width='320', height='200', src='//player.vimeo.com/video/11712103', frameborder='0' allowfullscreen='')
  .row
    .col-span
      .video-responsive
        iframe(width='320', height='200', src='//www.youtube.com/embed/wN3gueLT0D8', frameborder='0', allowfullscreen='')
    .col-span
      .video-responsive
       iframe(width='320', height='200', src='//www.youtube.com/embed/4psVnsYlBok', frameborder='0', allowfullscreen='')