doctype transitional
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  title Welcome to ActorCV
  link(rel='stylesheet', href='styles.css')
table.tableContent(bgcolor='#ffffff', width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='font-family:Helvetica, Arial,serif;')
  tbody
    tr
      td
        table.MainContainer(width='600', border='0', cellspacing='0', cellpadding='0', align='center', bgcolor='#ffffff')
          tbody
            tr
              td
                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(valign='top', width='40') &nbsp;
                      td
                        table(width='100%', border='0', cellspacing='0', cellpadding='0')
                          tbody
                            tr
                              td.spechide(height='75')
                            tr
                              td.movableContentContainer(valign='top')
                                .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                    tbody
                                      tr
                                        td(height='35')
                                      tr
                                        td
                                          table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                            tbody
                                              tr
                                                td.specbundle(valign='top', align='center')
                                                  .contentEditableContainer.contentTextEditable
                                                    .contentEditable
                                                      p(style='text-align:left;margin:0;font-family:Georgia,Time,sans-serif;font-size:26px;color:#222222;')
                                                        span.specbundle2
                                                          span.font1 Hi #{name},
                                                td.specbundle(valign='top') &nbsp;
                                .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center')
                                    tr
                                      td(height='25')
                                    tr
                                      td(align='left')
                                        .contentEditableContainer.contentTextEditable
                                          .contentEditable(align='center')
                                            h2 Welcome to ActorCV!
                                    tr
                                      td(height='15')  
                                    tr
                                      td(align='left')
                                        .contentEditableContainer.contentTextEditable
                                          .contentEditable(align='center')
                                            p
                                              | Thank you for confirming your email and setting your password. Don&apos;t leave a blank CV, someone might be watching. Fill in your CV with what you have been up to lately. Here are some tips for a good CV:
                                              br
                                              br
                                              |  Cheers,
                                              br
                                              span(style='color:#222222;') Peter Parker
                                    tr
                                      td(height='35')
                                    tr
                                      td(align='center')
                                        table
                                          tr
                                            td(align='center', bgcolor='#289CDC', style='background:#1A54BA; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;')
                                              .contentEditableContainer.contentTextEditable
                                                .contentEditable(align='center')
                                                  a.link2(target='_blank', href='link-to-profile', style='color:#ffffff;') Complete your CV
                                    tr
                                      td(height='20')
                                .movableContent(style='border: 0px; padding-top: 0px; position: relative;')
                                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                    tbody
                                      tr
                                        td(height='65')
                                      tr
                                        td(style='border-bottom:1px solid #DDDDDD;')
                                      tr
                                        td(height='25')
                                      tr
                                        td
                                          table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                            tbody
                                              tr
                                                td.specbundle(valign='top')
                                                  .contentEditableContainer.contentTextEditable
                                                    .contentEditable(align='center')
                                                      p(style='text-align:left;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;')
                                                        span(style='font-weight:bold;') ActorCV
                                                        br
                                                        |  ActorCV you can share
                                                td.specbundle(valign='top', width='30') &nbsp;
                                                td.specbundle(valign='top')
                                                  table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                                    tbody
                                                      tr
                                                        td(valign='top', width='52')
                                                          .contentEditableContainer.contentFacebookEditable
                                                            .contentEditable
                                                              a(target='_blank', href='#')
                                                                img(src='images/facebook.png', width='52', height='53', alt='facebook icon', data-default='placeholder', data-max-width='52', data-customicon='true')
                                                        td(valign='top', width='16') &nbsp;
                                                        td(valign='top', width='52')
                                                          .contentEditableContainer.contentTwitterEditable
                                                            .contentEditable
                                                              a(target='_blank', href='#')
                                                                img(src='images/twitter.png', width='52', height='53', alt='twitter icon', data-default='placeholder', data-max-width='52', data-customicon='true')
                                      tr
                                        td(height='88')
                      td(valign='top', width='40') &nbsp;
