#rev_slider_1174_1_wrapper.rev_slider_wrapper.fullscreen-container.rev-slider(data-alias='inspiration-header', data-source='gallery', style='background-color:transparent;padding:0px;')
  #rev_slider_1174_1.rev_slider.fullscreenbanner(style='display:none;', data-version='5.4.1')
    ul
      li(data-index='rs-3238', data-transition='fade', data-slotamount='default', data-hideafterloop='0', data-hideslideonmobile='off', data-easein='default', data-easeout='default', data-masterspeed='500', data-rotate='0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
        img.rev-slidebg(src='http://placehold.it/10x10', data-bgcolor='#e0e0e0', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-bgparallax='off', data-no-retina='')
        // layers
        #slide-3238-layer-5.tp-caption.tp-resizeme.rs-parallaxlevel-9(data-x="['right','right','right','right']", data-hoffset="['40','40','-70','-144']", data-y="['top','top','top','top']", data-voffset="['-100','-100','-80','-100']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 7;border-width:0px;')
          img(src='pofo/images/header_flowerpot.png', alt='', data-ww="['550px','550px','550px','550px']", data-hh="['471px','471px','471px','471px']", width='550', height='471', data-no-retina='')
        #slide-3238-layer-6.tp-caption.tp-resizeme.rs-parallaxlevel-10(data-x="['right','right','right','right']", data-hoffset="['80','80','-40','-138']", data-y="['top','top','top','top']", data-voffset="['-84','-84','-20','-22']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"x:right;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 6;border-width:0px;')
          img(src='pofo/images/header_papers.png', alt='', data-ww="['900px','900px','900px','900px']", data-hh="['1000px','1000px','1000px','1000px']", width='900', height='1000', data-no-retina='')
        #slide-3238-layer-9.tp-caption.tp-resizeme.rs-parallaxlevel-12(data-x="['right','right','right','right']", data-hoffset="['534','534','322','357']", data-y="['top','top','top','top']", data-voffset="['67','67','50','6']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"y:top;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 8;border-width:0px;')
          img(src='pofo/images/header_marker.png', alt='', data-ww="['200px','200px','200px','200px']", data-hh="['300px','300px','300px','300px']", width='200', height='300', data-no-retina='')
        #slide-3238-layer-10.tp-caption.tp-resizeme.rs-parallaxlevel-11(data-x="['right','right','right','right']", data-hoffset="['281','281','130','139']", data-y="['top','top','top','top']", data-voffset="['0','0','-190','-212']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"y:top;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 9;border-width:0px;')
          img(src='pofo/images/header_edding.png', alt='', data-ww="['300px','300px','300px','300px']", data-hh="['400px','400px','400px','400px']", width='300', height='400', data-no-retina='')
        #slide-3238-layer-11.tp-caption.tp-resizeme.rs-parallaxlevel-12(data-x="['right','right','right','right']", data-hoffset="['393','393','201','81']", data-y="['top','top','top','top']", data-voffset="['218','218','183','191']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"y:top;rZ:-90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 10;border-width:0px;')
          img(src='pofo/images/header_paperclip.png', alt='', data-ww="['50px','50px','50px','50px']", data-hh="['100px','100px','100px','100px']", width='50', height='100', data-no-retina='')
        #slide-3238-layer-12.tp-caption.tp-resizeme.rs-parallaxlevel-11(data-x="['right','right','right','right']", data-hoffset="['346','346','165','36']", data-y="['top','top','top','top']", data-voffset="['255','255','237','231']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"y:top;rZ:90deg;","speed":2000,"to":"o:1;rZ:310;","delay":550,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 11;border-width:0px;')
          img(src='pofo/images/header_paperclip.png', alt='', data-ww="['50px','50px','50px','50px']", data-hh="['100px','100px','100px','100px']", width='50', height='100', data-no-retina='')
        #slide-3238-layer-7.tp-caption.tp-resizeme.rs-parallaxlevel-9(data-x="['right','right','right','right']", data-hoffset="['-364','-364','-479','-553']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['-155','-155','-180','-202']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 12;border-width:0px;')
          img(src='pofo/images/header_tablet.png', alt='', data-ww="['730px','730px','730px','730px']", data-hh="['520px','520px','520px','520px']", width='730', height='520', data-no-retina='')
        #slide-3238-layer-8.tp-caption.tp-resizeme.rs-parallaxlevel-11(data-x="['right','right','right','right']", data-hoffset="['222','222','105','8']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['8','8','-17','-10']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='image', data-basealign='slide', data-responsive_offset='on', data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 13;border-width:0px;')
          img(src='pofo/images/header_pen.png', alt='', data-ww="['300px','300px','300px','300px']", data-hh="['500px','500px','500px','500px']", width='300', height='500', data-no-retina='')
        #slide-3238-layer-13.tp-caption.rev-scroll-btn.revs-dark.rs-parallaxlevel-5(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['bottom','bottom','bottom','bottom']", data-voffset="['50','50','50','50']", data-width='30', data-height='45', data-whitespace='nowrap', data-type='button', data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":1000}]', data-basealign='slide', data-responsive_offset='on', data-responsive='off', data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]', data-textalign="['left','left','left','left']", data-paddingtop='[0,0,0,0]', data-paddingright='[0,0,0,0]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[0,0,0,0]', style='z-index: 19; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 400;border-color:rgba(0, 0, 0, 1.00);border-style:solid;border-width:2px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;')
          span
        .container(style='padding-top: 100px;z-index: 100;')
          .row
            .col-sm-6
              .box
                h5.text-extra-dark-gray.alt-font.font-weight-800.text-center
                  | Are you an actor?
                  br
                  | Create your own website!
                div
                  include ../partials/flash
                form(role='form', action='/signup', method='post')
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='_useslug',id='_useslug', value=0)
                  div
                    input#fullname(type='text', name='fullname', required)
                    label(for='fullname') Full name
                  div
                    input.title-text#slug(type='text', placeholder='full-name', name='slug')
                    span.before-title www.actorcv.com/
                    label#slug-label(for='slug') Website
                  div
                    input#email(type='email', name='email', required)
                    label#email-label(for='email') Email
                  div
                    input#password(type='password', name='password', required)
                    label(for='password') Password
                  div
                    input#confirm-password(type='password', name='confirm-password', required)
                    label(for='confirm-password') Confirm Password
                  div
                    input(type='submit', value='Sign me up!')
                    span
            .col-sm-6 &nbsp;
    .tp-bannertimer.tp-bottom(style='visibility: hidden !important;')