.container
  .row
    .col-md-7.col-sm-12.col-xs-12.center-col.text-center.margin-100px-bottom.xs-margin-40px-bottom
      .position-relative.overflow-hidden.width-100
        span.text-small.text-outside-line-full.alt-font.font-weight-600.text-uppercase Tha damage!!!
  .row
    .pricing-box-style1
      .col-md-4.col-sm-6.col-xs-12.text-center.sm-margin-30px-bottom.wow.fadeInUp(data-wow-delay='0.2s')
        .pricing-box.border-all.border-width-1.border-color-extra-light-gray.bg-white
          .bg-extra-dark-gray.padding-10px-tb.alt-font.text-white.font-weight-600.text-uppercase Skeptic
          .bg-light-gray.padding-35px-all
            h4.text-extra-dark-gray.font-weight-500.no-margin-bottom &euro;4.90
            .text-extra-small.text-uppercase.margin-5px-top Per Month
          .padding-30px-all.pricing-features.sm-padding-20px-all.xs-padding-30px-all
            ul.list-style-11
              li Save 0%
              li Billed &euro;4.90 monthly
              li 60 day free trial
              li Cancel anytime
              li No cancellation fees
            .pricing-action.margin-35px-top.sm-no-margin-top
              a.btn.btn-transparent-dark-gray.btn-very-small.text-extra-small(href='#') Choose Plan
      .col-md-4.col-sm-6.col-xs-12.highlight.text-center.sm-margin-30px-bottom.wow.fadeInUp(data-wow-delay='0.4s')
        .pricing-box.border-all.border-width-1.border-color-extra-light-gray.bg-white
          .bg-deep-pink.padding-10px-tb.alt-font.text-white.font-weight-600.text-uppercase Median
          .bg-light-gray.padding-35px-all
            h4.text-extra-dark-gray.font-weight-500.no-margin-bottom &euro;3.90
            .text-extra-small.text-uppercase.margin-5px-top Per Month
          .padding-30px-all.pricing-features.sm-padding-20px-all.xs-padding-30px-all
            ul.list-style-11
              li Save some%
              li Billed &euro;23.40 every 6 months
              li 60 day free trial
              li Cancel anytime
              li No cancellation fees
            .pricing-action.margin-35px-top.sm-no-margin-top
              a.btn.btn-deep-pink.btn-very-small.text-extra-small(href='#') Choose Plan
      .col-md-4.col-sm-6.col-xs-12.text-center.sm-margin-30px-bottom.wow.fadeInUp(data-wow-delay='0.6s')
        .pricing-box.border-all.border-width-1.border-color-extra-light-gray.bg-white
          .bg-extra-dark-gray.padding-10px-tb.alt-font.text-white.font-weight-600.text-uppercase Actor
          .bg-light-gray.padding-35px-all
            h4.text-extra-dark-gray.font-weight-500.no-margin-bottom &euro;2.90
            .text-extra-small.text-uppercase.margin-5px-top Per Month
          .padding-30px-all.pricing-features.sm-padding-20px-all.xs-padding-30px-all
            ul.list-style-11
              li Save more%
              li Billed &euro;34.80 every 12 months
              li 60 day free trial
              li Cancel anytime
              li No cancellation fees
            .pricing-action.margin-35px-top.sm-no-margin-top
              a.btn.btn-transparent-dark-gray.btn-very-small.text-extra-small(href='#') Choose Plan