.container
  p
    | Setting up your website is super simple. Uploas some photos, link to any video and write up your resume.
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bl
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
  p
    | bla bla
