.container
  .row
    .col-md-7.col-sm-12.col-xs-12.center-col.text-center.margin-100px-bottom.xs-margin-40px-bottom
      .position-relative.overflow-hidden.width-100
        span.text-small.text-outside-line-full.alt-font.font-weight-600.text-uppercase Why ActorCV?
  .row.equalize.sm-equalize-auto
    .col-md-5.col-sm-11.col-xs-12.sm-center-col.padding-five-right.sm-margin-70px-bottom.sm-text-center.sm-padding-15px-lr.xs-margin-50px-bottom.wow.fadeIn.xs-text-center
      img(src='pofo/images/imac.png')
    .col-md-7.col-xs-12.sm-no-padding-lr
      .padding-seven-lr.pull-left.sm-no-padding-lr.col-2-nth
        .col-md-6.col-sm-6.col-xs-12.margin-30px-bottom.sm-text-center.wow.fadeInUp.last-paragraph-no-margin
          span.text-center.display-block
            i.fa.fa-smile-o.icon-extra-large.text-deep-pink(aria-hidden='true')
            .alt-font.text-extra-dark-gray.font-weight-600.margin-5px-bottom Simple as can be.
            p
              | Setting up your website is super simple. Uploas some photos, link to any video and write up your resume.
        .col-md-6.col-sm-6.col-xs-12.margin-30px-bottom.sm-text-center.wow.fadeInUp.last-paragraph-no-margin
          span.text-center.display-block
            i.fa.fa-heart-o.icon-extra-large.text-deep-pink(aria-hidden='true')
            .alt-font.text-extra-dark-gray.font-weight-600.margin-5px-bottom Casters love it.
            p ActorCV is developed with first hand collaboration with casting directors.
        .col-md-6.col-sm-6.col-xs-12.margin-30px-bottom.sm-text-center.wow.fadeInUp.last-paragraph-no-margin
          span.text-center.display-block
            i.fa.fa-share.icon-extra-large.text-deep-pink(aria-hidden='true')
            .alt-font.text-extra-dark-gray.font-weight-600.margin-5px-bottom Share with ease.
            p
              | Setting up your website is super simple. Uploas some photos, link to any video and write up your resume.